<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items List</title>
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Profile</button>
    </form>

    <h1>My Favorites</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Price per Hour</th>
                <th>Price per Day</th>
                <th>Price per Week</th>
                <th>Price per Month</th>
            </tr>
        </thead>
        <tbody>
            {% for item, favorite in items %}
            <tr>
                <td><a href="/items/{{ item.id }}">{{ item.name }}</a></td>
                <td>{{ item.description }}</td>
                <td>{{ item.owner }}</td>
                <td>${{ item.price_hour }}</td>
                <td>${{ item.price_day }}</td>
                <td>${{ item.price_week }}</td>
                <td>${{ item.price_month }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>