<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to RentAll</h1>

    <div>
        <form action="/login" method="get">
            <button type="submit">Login</button>
        </form>

        <form action="/register" method="get">
            <button type="submit">Register</button>
        </form>

        <form action="/profile" method="get">
            <button type="submit">Profile</button>
        </form>

        <form action="/items" method="get">
            <button type="submit">Items</button>
        </form>

        <form action="/leasers" method="get">
            <button type="submit">Leasers</button>
        </form>

        <form action="/reviews" method="get">
            <button type="submit">Reviews</button>
        </form>

        <form action="/contracts" method="get">
            <button type="submit">Contracts</button>
        </form>
    </div>


</body>
</html>