<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

    <h2>Hello, {{ login }}!</h2>

     <div class="button-block">
         <form action="/items" method="get">
            <button type="submit" name="my_items" value=True>My items</button>
        </form>

        <form action="/items" method="get">
            <button type="submit">All items</button>
        </form>

        <form action="/leasers" method="get">
            <button type="submit">Leasers</button>
        </form>

        <form action="/contracts" method="get">
            <button type="submit">Contracts</button>
        </form>

        <form action="/reviews" method="get">
            <button type="submit">Reviews</button>
        </form>

         <form action="profile/favorites" method="get">
            <button type="submit">Favorite items</button>
        </form>

         <form action="/profile/search_history" method="get">
            <button type="submit">Search history</button>
        </form>

         <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>

    </div>

</body>
</html>